<html xmlns:th="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <title>User Profile</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}"/>
</head>
<body>
<img class="header-image" th:src="@{/images/example_bank_logo.svg}" alt="ChangeBank Logo"/>
<main class="account-container">
    <div class="blue-container"></div>
    <div class="oval-container">
        <div class="img-container">
            <img th:src="@{/images/user_icon.svg}" alt="User logo" class="user-icon"/>
        </div>
    </div>
    <div class="profile-container">
        <p class="profile-name" th:text="${profile.name}"></p>
        <table>
            <tbody>
                <tr>
                    <td>Email</td>
                    <td th:text="${profile.email}"></td>
                </tr>
                <tr>
                    <td>Birth Date:</td>
                    <td th:text="${profile.birthdate}"></td>
                </tr>
            </tbody>
        </table>
    </div>
</main>
<div class="logout-button-container">
    <button class="button logout-button" onclick="window.location.href='/logout'">Logout</button>
</div>
</body>
</html>
